@use "../variables" as var;

.page {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 40px 0;
}

.page-title {
	font-size: 2.4rem;
	color: var.$color-primary-dark;
	font-weight: 700;
	margin-bottom: 30px;
	text-align: center;
}

.page-subtitle {
	font-size: 1.2rem;
	color: var.$color-muted;
	margin-bottom: 20px;
	text-align: center;
}
