@use "../variables" as var;
@use "sass:color";

.search-input {
	width: 100%;
	max-width: 460px;
	padding: 12px 16px;
	
	margin-bottom: 20px;
	
	border: 1px solid var.$color-border;
	border-radius: var.$radius-md;
	
	background: #ffffff;
	font-size: 1rem;
	color: var.$color-text;
	
	transition: 0.2s ease;
	outline: none;
	
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.04);
	
	&::placeholder {
		color: var.$color-muted;
	}
	
	&:focus {
		border-color: var.$color-primary;
		box-shadow: 0 0 0 3px color.adjust(var.$color-primary, $alpha: -0.7);
	}
	
	&:hover {
		border-color: var.$color-primary-dark;
	}
}

.search-wrapper {
	display: flex;
	justify-content: flex-start;
	margin-bottom: 20px;
}
