@use "../variables" as var;

.tech-list {
	width: 100%;
	max-width: 1100px;
	
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
	gap: 22px;
	
	justify-items: center;
	align-items: stretch;
}
