@use "../variables" as var;

.tech-detail__wrapper {
	display: flex;
	justify-content: center;
	margin-top: 40px;
}

.tech-detail {
	width: 100%;
	max-width: 900px;
	
	background: var.$color-bg-surface;
	border-radius: var.$radius-lg;
	padding: 32px 40px;
	
	box-shadow: 0 20px 40px rgba(0, 0, 0, 0.09),
	inset 0 1px 0 rgba(255, 255, 255, 0.4);
	
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.tech-detail__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.tech-detail__title {
	font-size: 2rem;
	font-weight: 700;
	margin: 0;
	color: var.$color-primary-dark;
}

.tech-detail__badge {
	background: scale(var.$color-primary, 70%);
	color: var.$color-primary-dark;
	padding: 6px 14px;
	border-radius: var.$radius-md;
	box-shadow: var.$shadow-sm;
	font-weight: 600;
}

.tech-detail__desc {
	font-size: 1.1rem;
	color: var.$color-text;
	line-height: 0.6;
}

.tech-detail__info {
	background: scale(var.$color-bg-surface, 100%);
	padding: 20px 26px;
	border-radius: var.$radius-md;
	display: flex;
	flex-direction: column;
	gap: 16px;
	box-shadow: var.$shadow-sm;
}

.tech-detail__row {
	display: flex;
	gap: 12px;
	
	.label {
		font-weight: 600;
		color: var.$color-primary-dark;
		min-width: 150px;
	}
	
	a {
		color: var.$color-accent;
		text-decoration: underline;
		
		&:hover {
			color: scale(var.$color-accent, -25%);
		}
	}
}

.tech-detail--notfound {
	text-align: center;
	padding: 40px;
}


.tech-detail__back {
	background: transparent;
	border: none;
	color: var.$color-primary-dark;
	font-weight: 700;
	font-size: 1rem;
	cursor: pointer;
	width: fit-content;
	
	border-radius: var.$radius-md;
	
	transition: 0.15s ease;
	
	&:hover {
		background: scale(var.$color-primary, 70%);
	}
}

.status-btn {
	padding: 10px 18px;
	background: scale(var.$color-bg-surface, 100%);
	border-radius: var.$radius-md;
	border: 1px solid var.$color-border;
	cursor: pointer;
	transition: 0.2s ease;
	font-weight: 600;
	color: var.$color-text;
	
	&:hover {
		background: scale(var.$color-primary, 70%);
	}
	
	&.active {
		background: var.$color-primary;
		color: white;
		border-color: var.$color-primary-dark;
		box-shadow: var.$shadow-sm;
	}
}

.tech-detail__status-block {
	display: flex;
	gap: 12px;
	margin: 10px 0 20px;
}

.tech-detail__notes-block {
	display: flex;
	flex-direction: column;
	gap: 8px;
	margin-top: 10px;
	
	h3 {
		font-size: 1.05rem;
		color: var.$color-primary-dark;
		margin: 0;
	}
	
	textarea {
		resize: vertical;
		min-height: 90px;
		padding: 12px 14px;
		border-radius: var.$radius-md;
		border: 1px solid var.$color-border;
		background: white;
		color: var.$color-text;
		font-size: 1rem;
		outline: none;
		
		&:focus {
			border-color: var.$color-primary;
			box-shadow: 0 0 0 2px rgba(var.$color-primary, 0.25);
		}
	}
}
