@use "./variables" as *;

* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
}

body {
	background: $color-bg;
	color: $color-text;
	font-family: $font-main;
	min-height: 100vh;
}

a {
	text-decoration: none;
	color: inherit;
}

.container {
	max-width: 1100px;
	margin: 32px auto;
	padding: 20px;
}
