@use './variables' as var;

@mixin card {
	background: var.$color-bg-surface;
	padding: 20px;
	border-radius: var.$radius-md;
	box-shadow: var.$shadow-sm;
}

@mixin flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}
